:root {
  --primary-text-color: #000;
  --secondary-black-color: #1b2437;
  --primary-grey-text-color: #8e8e93;
  --secondary-grey-text-color: #5c5c5c;
  --secondary-grey-color: #efeff4;
  --accent-text-color: #eda3b5;
  --primary-white-color: #ffffff;
  --primary-bg-color: #f6f6f6;
  --secondary-text-font: "Mulish", sans-serif;
}
* {
  /* outline: 1px solid tomato; */
}
body {
  font-family: "Playfair Display", serif;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0px;
  padding: 0px;
}

section {
  padding: 0px 0px 70px 0px;
  background-color: var(--primary-bg-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  padding: 0px 15px;
}
h2 {
  margin-bottom: 35px;
  color: var(--secondary-black-color);
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
}

h3 {
  font-size: 32px;
  font-weight: 900;
  line-height: 45px;
}
h4 {
  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
}

button {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ========HEADER=========== */
/* .header{
    background-color: var(--primary-white-color);
} */
.auth-box {
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-black-color);
}
.logo {
  font-family: Rochester;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.social {
  display: flex;
  align-items: center;
  gap: 40px;
}

.auth {
  display: flex;
  align-items: center;
  gap: 33px;
}

.navigation {
  width: 100%;
  height: 79px;
  padding-top: 24px;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  color: var(--primary-text-color);
  border-top: 1px solid #f3f3f3;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.nav-list-item {
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}
.current {
  position: relative;
  color: var(--accent-text-color);
}
.current::after {
  position: absolute;
  bottom: -8px;
  left: 13px;

  content: "";
  width: 34px;
  height: 3px;

  border: 2px solid var(--accent-text-color);
  border-radius: 2px;
}

/* ==========HERO======== */
.hero {
  padding-top: 103px;
  padding-bottom: 118px;
  width: 100%;
  height: 569px;
  /* background-color: var(--primary-white-color); */
  background-image: url("../images/hero.png");
  color: var(--primary-white-color);
}

.hero-title {
  margin-bottom: 13px;
  font-size: 48px;
  font-weight: 400;
  line-height: 67px;
}
.hero-text {
  width: 446px;
  margin-bottom: 34px;
  font-family: var(--secondary-text-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.hero-link {
  display: inline-block;
  min-width: 255px;
  min-height: 77px;
  padding: 23px 78px;
  font-family: var(--secondary-text-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  border-radius: 15px;
  background: var(--secondary-black-color);
}
/* ==========COLLECTIONS======= */
.collections {
  padding-top: 71px;
}
.collections-list {
  display: grid;
  grid-template-columns: 1fr 303px 302px;
  grid-template-rows: 224px 204px 313px;
  gap: 30px;
  color: var(--secondary-black-color);
}
.collections-list > div {
  overflow: hidden;
  border-radius: 16px;
}
.collection-item-1 {
  grid-row: 1/3;
  padding-top: 268px;
  padding-left: 32px;
  padding-bottom: 32px;
  padding-right: 125px;
  background-image: url("../images/women-collection-category.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center;
  color: var(--primary-white-color);
}
.collection-item-1 .collection-item-subtitle {
  margin-bottom: 8px;
  font-family: var(--secondary-text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.collection-item-btn {
  min-width: 93px;
  padding: 0px 22px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.collection-item-4 {
  grid-column: 2/4;
}

.collection-item-5 {
  grid-column: 1/4;
}
/* ===========GALLERY======== */
.gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: var(--primary-white-color);
  box-shadow: 2px 5px 45px 0px rgba(237, 163, 181, 0.25);
}

.like-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.gallery-item-content {
  width: 100%;
  padding: 16px 18px 18px 24px;
  padding-right: 18px;
  font-weight: 700;
  line-height: 30px;
}
.gallery-item-title {
  margin-bottom: 8px;
}
.gallery-item-text {
  margin-bottom: 27px;
  font-family: var(--secondary-text-font);
  font-size: 16px;
}
.buy-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-item-price {
  font-size: 34px;
}
.gallery-item-link {
  min-width: 153px;
  height: 58px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 15px;
  background: var(--secondary-black-color);
  color: var(--primary-white-color);
  text-align: center;
  font-family: var(--secondary-text-font);
  font-size: 18px;
}
.gallery-item-link:hover {
  background-color: var(--accent-text-color);
}

/* ==========Contacts============= */
.contacts-content {
  padding: 12px 12px 25px 12px;
  border-radius: 16px;
  background: var(--primary-white-color);
  text-align: center;
}
.contacts-map {
  margin-bottom: 24px;
}
.contacts-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacts-box-img {
  display: block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.contacts-box-text {
  font-family: var(--secondary-text-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

/* =======FOOTER========= */
.footer-section {
  background-color: var(--primary-white-color);
  padding-top: 32px;
  padding-bottom: 50px;
}
.footer-nav-box {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}

.shop-info-logo {
  display: inline-block;
  margin-bottom: 24px;
}
.shop-info-text {
  width: 255px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--secondary-grey-text-color);
}
.footer-nav-box-item {
  margin-top: 13px;
}
.footer-nav-box-title {
  margin-bottom: 22px;
}
.footer-nav-item {
  color: var(--primary-grey-text-color);
  font-family: var(--secondary-text-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}
.footer-nav-item:not(:last-child) {
  margin-bottom: 22px;
}
.copyright {
  height: 74px;
  padding-bottom: 22px;
  padding-top: 22px;
  background-color: #e5e5ea;
}
.copyright-box {
  display: flex;
  align-items: center;
}
.copyright-text {
  color: var(--primary-grey-text-color);
  font-family: var(--secondary-text-font);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
}
.copyright-social {
  margin-left: auto;
}
